/node_modules
.env


client-cert.pem
client-key.pem
server-ca.pem
db-connection.js
.pem
busquidy-cv-50e673f45d4b.json
## Archivos del Testing K6
testing_busquidy/users.json
testing_busquidy/*.json
testing_busquidy/*.jtl
testing_busquidy/*.html
busquidy-cv-*.json
